@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@layer components {
	.container-main {
		@apply max-w-content mx-auto px-[16px] tablet:px-[24px] desktop:px-0;
	}
}

@layer utilities {
	.text-large {
		@apply text-[20px] font-bold;
	}

	.text-medium {
		@apply text-[18px] font-bold;
	}

	.text-small-bold {
		@apply text-[16px] font-extrabold;
	}

	.text-small-semi {
		@apply text-[16px] font-bold;
	}

	.text-small-regular {
		@apply text-[16px] font-normal;
	}

	.shadow-inside {
		@apply shadow drop-shadow;
	}

	.scrollbar-thin::-webkit-scrollbar {
		width: 4px;
	}

	.scrollbar-thin::-webkit-scrollbar-thumb {
		background-color: #fde68a;
		border-radius: 3px;
	}

	.scrollbar-thin::-webkit-scrollbar-track {
		background: transparent;
	}
}
body {
	color: var(--foreground);
	background: var(--background);
}
input:focus {
	outline: none;
}
